@import './variables', './mixins';

.information-container {
  @include text-box-container;
  margin-top: 0.9em;
  padding-bottom: 1.2em;

  h2,
  h3 {
    line-height: 2px;
  }

  p {
    margin-top: -0.2em;
  }
}

body {
  background-color: rgb(var(--color-bg-body));
  color: rgb(var(--color-text));
  font-family: var(--font-hierarchy);
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  header {
    @include text-box-container;
    font-size: var(--biggerx-text);
    //color: rgb(var(--color-text));

    a {
      text-decoration: none;
      color: rgb(0, 238, 255);

      &:hover {
        text-decoration: underline;
      }
    }

    select {}
  }

  a {
    text-decoration: solid;
    color: rgb(0, 153, 255);

    &:hover {
      color: rgb(195, 0, 255)
    }

    &:visited {}

    &:active {}
  }

  // tables
  table {
    tbody {
      height: 0.8vh;

      td,
      th {
        text-align: left;
        padding-right: 0.8vw;
        padding-bottom: 0.2em;
      }
    }
  }

  //background-color: rgb(var(--color-bg-body));
  //color: rgb(var(--color-text));

  .welcome {
    text-align: center;
    margin-top: 0.9vh;
    padding-left: 0.8vw;
    background-color: rgba(var(--color-bg-header));
    border: var(--header-border);
    border-radius: 4px;

    h1 {
      font-size: var(--huge-text);
    }

    p {
      font-size: var(--bigger-text);
    }
  }

  main {
    display: flex;
    min-height: 80vh;
    padding-bottom: 1.2rem;
    flex: 1 0 auto;
    flex-wrap: wrap;
    gap: 2vw;

    .about {
      font-size: var(--bigger-text);
      flex: 1 0 250px;
      min-width: auto;
      max-width: 54vw;
      font-weight: bold;

      mark {
        font-size: var(--mediumx-text);
        color: rgb(var(--color-text-mark));
        border-radius: 15px;
        background: var(--bg-mark);
        opacity: 0.9;
        white-space: nowrap;
        display: inline-block;
        padding: 2px;
      }
    }

    .feed {
      margin-top: 0.9em;
      flex: 1 0 250px;
      min-width: auto;
      //max-width: 44vw;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      height: auto;
      align-self: stretch;

      .project-feed {
        box-shadow: 2px 2px #3c3c3c;
        font-size: var(--biggerx-text);
        color: rgb(51, 255, 51);
        text-align: center;
        font-family: var(--terminal-font);
        border-style: solid;
        border-width: 8px;
        border-color: rgb(24, 24, 24);
        line-height: 1.2;

        display: flex;
        flex-direction: column;
        flex: 0 0 35%;
        padding: 10px;

        min-height: 47vh;
        gap: 1rem;
        background-color: rgb(0, 0, 0);

        h2 {
          text-decoration: underline dashed rgb(51, 253, 51) 2px;
          text-underline-offset: 15px;
        }

        p {
          margin: 0;
          padding: 0;
          line-height: 1.2;
        }

      }


      .post-feed {
        border-color: rgb(42, 42, 42);
        background-color: rgb(24, 24, 24);
        font-size: var(--bigger-text);
        flex: 1 1 auto;
        margin-top: 1rem;
        border-style: solid;
        border-width: 8px;

        box-shadow: 2px 2px #3c3c3c;


        h2 {
          text-align: center;
          text-decoration: underline wavy #4a0404;
        }
      }
    }

  }

  footer {
    flex-shrink: 0;
    background-color: rgb(31, 31, 31);
    padding: 0.9em;

    a {
      text-decoration: underline;
    }
  }

  ul {
    li {}
  }

}
