<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{{ get_url(path='main.css') }}" />
        <link
            rel="alternate"
            type="application/atom+xml"
            title="RSS"
            href="{{ get_url(path='atom.xml', trailing_slash=false) }}"
        />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=VT323&display=swap"
            rel="stylesheet"
        />

        {% block seo %}
        <title>{{ config.title }}</title>
        <meta name="description" content="{{ config.description }}" />
        {% endblock seo %}
    </head>

    <body>
        <header>
            <a href="{{ get_url(path='/') }}">home</a>
            <a href="{{ get_url(path='@/posts/_index.md') }}">posts</a>
            <a href="{{ get_url(path='tags') }}">tags</a>
            <a href="{{ get_url(path='@/contacts.md') }}">contacts</a>
            <a href="{{ get_url(path='atom.xml') }}" id="misc">rss</a>
            {# About/data.toml load#} {% set data =
            load_data(path="content/about/data.toml") %}
        </header>

        <main>{% block content %} {% endblock %}</main>
    </body>
</html>
