<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ get_url(path='main.css') }}">
  <link rel="alternate" type="application/atom+xml" title="RSS"
    href="{{ get_url(path='atom.xml', trailing_slash=false) }}">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=VT323&display=swap"
    rel="stylesheet">


  {% block seo %}
  <title>{{ config.title }}</title>
  <meta name="description" content="{{ config.description }}">
  {% endblock seo %}
</head>

<body>
  <header>
    <a href="{{ get_url(path='/') }}">home</a>
    <a href="{{ get_url(path='@/posts/_index.md') }}">posts</a>
    <a href="#contacts">contacts</a>
    <a href="{{ get_url(path='atom.xml') }}" id="misc">rss</a>
    {# About/data.toml load#}
    {% set data = load_data(path="content/about/data.toml") %}
  </header>

  <div>
    {% block welcome %}
    {% endblock %}
  </div>

  <main>
    {% block content %}
    {% endblock %}
  </main>

  <footer id="contacts">
    <table>
      <tbody>
        {% for social in data.socials%}
        <tr>
          <th> <img src="{{ social.icon }}" alt="{{ social.name }} icon" width="24" height="24"> {{ social.name }} </th>
          <td> <a href="{{ social.link }}"> {{ social.link_display }}</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </footer>

</body>

</html>
