{% extends "base.html" %} {% block welcome %}
<section class="welcome">
    <h1>Contacts</h1>
</section>
{% endblock welcome %} {% block content %} {% set data =
load_data(path="content/about/data.toml") %}

<div class="information-container">
    <table>
        <tbody>
            {% for social in data.socials %}
            <tr>
                <th>
                    <img
                        src="{{ social.icon }}"
                        alt="{{ social.name }} icon"
                        width="24"
                        height="24"
                    />
                    {{ social.name }}
                </th>
                <td>
                    <a href="{{ social.link }}">{{ social.link_display }}</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
