{% extends 'base.html' %} {% block content %} {% set data =
load_data(path="content/about/data.toml") %}

<section class="about-content">
    <div class="information-container">
        <pre>{{ load_data(path="static/about.txt") }}</pre>
        <p>
            Hi! <br />
            I am Lukas Jasiulionis, a third-year university student pursuing a
            bachelor's in software engineering at Vilnius University.
            <br />
            This site is in the process of being renovated, information and the
            style of the site is subject to change over the coming days.
        </p>
    </div>
</section>

{% endblock content %}
