{% extends 'base.html' %}

{% block welcome %}
<section class="welcome">
  <h1>Welcome</h1>
  <p>On this site you can find information on me, my work, interests and where to find me.</p>
</section>

{% endblock welcome%}

{% block content %}

<section class="about">

  <div class="information-container">
    <h2>About</h2>
    <table>
      <tbody>
        <tr>
          <th>Name</th>
          <td>Lukas Jasiulionis</td>
        </tr>
        <tr>
          <th>Age</th>
          <td>20</td>
        </tr>
        <tr>
          <th>Nationality</th>
          <td>Lithuanian</td>
        </tr>
        <tr>
          <th>Occupation</th>
          <td>Student</td>
        </tr>
        <tr>
          <th>Education</th>
          <td>Bachelor's in software engineering (to be finished in 2027)</td>
        </tr>
        <tr>
          <th>Hobbies</th>
          <td>🖥️ 🌐 📖 🚲</td>
        </tr>
      </tbody>   
    </table>
  </div>

  
  <div class="information-container">
    <h2>Programming</h3>
    <p>Mainly like to write code in <mark>C++</mark>, <mark>Python</mark>, <mark>Java</mark>, JavaScript, React, <mark>TypeScript</mark>.</p>
    <p>Daily-drive arch(btw), love working at the systems level, also really enjoy front-end work.</p>
    <p>Currently trying to learn more about Scala, R, NixOs and <mark>Rust</mark>.</p>
  </div>
</section>

{% endblock content %}
