name: Deploy
on:
  push:
    branches:
      - master
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to VPS
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /root/lukasja.lt
            git pull origin master
            cd christmas && make build && cd ..
            mkdir -p static/christmas
            cp christmas/web/christmas.wasm christmas/web/wasm_exec.js static/christmas/
            zola build
            sudo rsync -avz --delete ./public/ /var/www/lukas/
